@import '../../Shared.scss';

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    &__icon {
        font-size: 1.2rem;
        color: $blue;
    }
}