$blue: #00B0FF;
$purple: #bf00ff;
$hoverBlue: rgba(0, 176, 255,.6);
$lightBlue: #6ed1ff;
$red: #D10D24;
$yellow: #e4c828;
$orange: #fa8a19;
$error: rgba(209, 13, 36,.6);
$green: #28B87B;
$grey: #969696;
$darkGrey: #5b5b5b;
$background: #F1F6F9;