@import '../../Shared.scss';

.showcard {
    width: 300px;
    background-color: #fff;
    margin: 8em auto;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,.4);
    border-radius: .1em;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $darkGrey;
    }

        &__title-icon {
            font-size: 1rem;
            color: $darkGrey;
        }

    &__info {
        font-size: .8em;
        color: $grey;
    }

    &__options {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }

        &__button {
            background-color: $blue;
            margin-top: 15px;
            outline: none;
            border: none;
            padding: .2em .4em;
            border-radius: .2em;
            color: #fff;
            font-size: .8em;
            cursor: pointer;
        }

        &__button:hover {
            transition: .2s ease-in;
            transform: translateY(-2px);
        }

        &__delete {
            font-size: 1rem;
            color: $darkGrey;
            cursor: pointer;
        }

        &__delete:hover {
            transition: .2s ease-in;
            transform: translateY(-2px);
        }
}